<footer style="background-color: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-4">Filmax &nbsp &nbsp <i class="small material-icons">call</i>&nbsp
          &nbsp0958396178</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <span class="grey-text text-darken-4">
          Слідкуйте за нами:&nbsp &nbsp
        </span>
        <a target="_blank" href="https://www.instagram.com/filmax_berdyansk/">
          <img src="/images/icons/icons8-instagram-24.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-darken-4"> © 2020 - 2022 - Filmax | All right reserved </div>
  </div>


</footer>