<div class="container ">
  <div class="row">
    {{#each cont}}
    <div class="col s6 xl3">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src='Content/img/{{img_name}}' width="280" height="405" alt="" />
        </div>
        <div class="card-action" >
          <a href="/soon{{idFilm}}" ><span class="black-text"> <b>{{filmname}}</b></span></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>