<div class="container ">
    <form action="">
<div class="row">

    </div>

    <div class="row">
        <div class="col s12 center-align">
            {{{seat 1 5 cont}}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            {{{seat 6 12 cont}}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            {{{seat 13 19 cont}}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            {{{seat 20 26 cont}}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button id="btnsub"  class="btn waves-effect  waves-light brown darken-2"  type="submit" name="action">Купити
                <i class="material-icons right">sentiment_very_satisfied</i>
            </button>
            
        </div>
    </div>
    </form>
    

</div>
