<div class="container top">
  {{#each cont}}
  <div class="card feedback"  >
    <div class="card-content black-text ">
      <span class="card-title"> <b>{{Nick}} </b> </span>
      <p> <i>{{fd}} </i> &nbsp&nbsp&nbsp&nbsp{{Feedback}}</p>
    </div>
  </div>
{{/each}}

</div>